/* Reset margins on body and html */
body, html {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}


p, b, h1, h2, h3 {
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}